// Load CSS Reset from NPM
@import "~normalize.css";
//@import "~font-awesome-sass/assets/stylesheets/font-awesome";
//@import "~node-modules/font-awesome/css/font-awesome.css";
//@import "~font-awesome/css/brands.css";
//@import "~font-awesome/css/fontawesome.css";
//@import "~font-awesome/css/regular.css";
//@import "~font-awesome/css/solid.css";
//@import "~font-awesome/css/svg-with-js.css";
//@import "~font-awesome/css/v4-shims.css";
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v16-latin/lato-v16-latin-regular.eot');
  src:
    local('Lato Regular'),
    local('Lato-Regular'),
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.woff') format('woff'),
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.ttf') format('truetype'),
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lato-v16-latin/lato-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src:
    local('Lato Italic'),
    local('Lato-Italic'),
    url('../fonts/lato-v16-latin/lato-v16-latin-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-v16-latin/lato-v16-latin-italic.woff2') format('woff2'),
    url('../fonts/lato-v16-latin/lato-v16-latin-italic.woff') format('woff'),
    url('../fonts/lato-v16-latin/lato-v16-latin-italic.ttf') format('truetype'),
    url('../fonts/lato-v16-latin/lato-v16-latin-italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v16-latin/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
  src:
    local('Lato Black'),
    local('Lato-Black'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900.woff2') format('woff2'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900.woff') format('woff'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900.ttf') format('truetype'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/lato-v16-latin/lato-v16-latin-900italic.eot');
  src:
    local('Lato Black Italic'),
    local('Lato-BlackItalic'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900italic.woff2') format('woff2'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900italic.woff') format('woff'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900italic.ttf') format('truetype'),
    url('../fonts/lato-v16-latin/lato-v16-latin-900italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.eot');
  src:
    local('Raleway'),
    local('Raleway-Regular'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.woff') format('woff'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.ttf') format('truetype'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/raleway-v14-latin/raleway-v14-latin-italic.eot');
  src:
    local('Raleway Italic'),
    local('Raleway-Italic'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-italic.woff2') format('woff2'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-italic.woff') format('woff'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-italic.ttf') format('truetype'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-italic.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/raleway-v14-latin/raleway-v14-latin-900.eot');
  src:
    local('Raleway Black'),
    local('Raleway-Black'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900.woff2') format('woff2'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900.woff') format('woff'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900.ttf') format('truetype'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/raleway-v14-latin/raleway-v14-latin-900italic.eot');
  src:
    local('Raleway Black Italic'),
    local('Raleway-BlackItalic'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900italic.woff2') format('woff2'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900italic.woff') format('woff'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900italic.ttf') format('truetype'),
    url('../fonts/raleway-v14-latin/raleway-v14-latin-900italic.svg#Raleway') format('svg');
}

ul {
  padding-inline-start: 0;
}

.wrapper {
  overflow: hidden;
  background-color: #fff;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

section {
  overflow: hidden;
}

h1 {
  text-align: center;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-weight: normal;
}

h4 {
  font-size: 30px;
  font-weight: normal;
}

h3 {
  font-size: 30px;
  font-weight: 200;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.section-container {
  width: 1000px;
  margin: 0 auto;
  max-width: 1000px;
}

.site-header {
  overflow: hidden;
  height: 200px;
  padding: 0 160px;

  .logo {
    float: left;
    height: 120px;
    width: 233px;
  }

  .h1-logo {
    text-align: right;
  }

  .site-navigation {
    float: right;

    li {
      display: inline-block;
      font-size: 45px;
      padding-left: 42px;
    }

    a {
      color: #999;
    }

    li a:hover {
      color: #9fd86c;
    }
  }
}

.hero-section {
  margin-bottom: 80px;
}

.site-believing {
  background-color: #fafafa;

  .believing-title {
    font-size: 60px;
  }

  p {
    font-size: 20px;
  }

  .believing-items {
    counter-reset: x;
  }

  .believing-item {
    position: relative;
    padding-left: 87px;
  }

  .believing-item::before {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    // left: 12px;
    //transform: translate(-50%, 0);
    content: counter(x) " ";
    counter-increment: x;
    font: 55px 'Lato', sans-serif;
    color: #5ccda3;
    text-transform: uppercase;
  }
}

.site-about {
  background-color: #fff;
  text-align: center;

  .about-title {
    font-size: 60px;
  }

  p {
    font-size: 20px;
  }

  .members {
    margin-top: 40px;

    li {
      display: inline-block;
      width: 300px;
      margin-bottom: 40px;

      img {
        width: 280px;
        height: 280px;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0 0 43px 67px #fff inset;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      }
    }
  }

  .members-p {
    width: 600px;
    text-align: center;
    margin-left: 180px;
  }
}

.site-map {
  background-color: #fafafa;

  h2 {
    font-size: 50px;
    color: #36988e;
  }

  .map-p {
    width: 600px;
    text-align: center;
    margin-left: 180px;
    font-size: 20px;
  }

  .img-map {
    height: auto;
    width: 1000px;
    padding-bottom: 50px;
    padding-top: 25px;
  }
}

.site-contact {
  background-color: #fff;

  .section-container {
    overflow: hidden;
    padding: 130px 0;
  }

  .contact-info {
    float: left;
    width: 400px;
    font-size: 20px;
    text-align: left;

    .contact-title {
      text-align: left;
      color: #8db899;
    }
  }

  .social-icons {
    float: right;
    display: inline-block;
    width: 500px;

    .social-item {
      position: relative;
      display: inline-block;
      height: 144px;
      width: 144px;
      border: 2px solid #eee;
      border-radius: 50%;
      margin-left: 10px;

      a {
        position: absolute;
        display: block;
        height: 100%;
        top: 50%;
        left: 50%;
      }

      i {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #9fd86c;
        font-size: 61px;
      }
    }

    li:hover {
      background: #9fd86c;
      border: 2px solid #9fd86c;
      border-radius: 50%;

      i {
        color: #fff;
      }
    }
  }
}

footer {
  background-color: #108a7e;
  height: 50px;
  width: 100%;
  padding: 64px 0;
  overflow: hidden;
  color: white;

  .footer-info {
    float: left;
    text-align: left;
    font-size: 20px;
  }

  .footer-navigation {
    float: right;
    text-align: right;

    li {
      display: inline-block;
      font-size: 45px;
      padding-left: 42px;
    }

    i {
      color: #fff;
    }

    li i:hover {
      color: #999;
    }
  }
}
